

<div class="container">
<div class="jumbotron">

<h1><b>HelpHand</b></h1>

<h4> Instagram, facebook, twitter, youtube... Atualmente são quatro das maiores redes sociais do mundo, mas houveram dias em que esses nomes não significavam absolutamente nada! Afinal, todo projeto tem que começar de um jeito, certo? E é aqui que o nosso projeto começa! Um projeto feito com o fim de facilitar a vida de todos nós! Confira o vídeo abaixo para saber de que maneira estamos começando a escrever a nossa história! </h4>


<div id="wideo-embed-block" 
	wideo-width="540" 
	wideo-height="310"
	wideo-id="2351231399159802156">
</div>
<script type="text/javascript">(function(){var x=document.createElement('script'), s=document.getElementsByTagName('script')[0];x.async=true;x.src='http://static.wideo.co/js/embed/wideoembed.js';s.parentNode.insertBefore(x,s)})();</script>

<h4> Gostou da idéia? Leia nossa seção de <%= link_to "perguntas e respostas", faq_path %> para saber mais sobre nosso projeto! 
<br> <br> <br>
	Estamos trabalhando duro para conseguir tornar tudo que você viu uma realidade, ajude-nos curtindo essa página e também nossa <a href="https://www.facebook.com/helphandcompany?ref=hl">página no facebook</a>! Manteremos todos vocês atualizados sobre o andamento do projeto por lá!</h4>
	<br> <br> <br>

	<div class="fb-like" data-href="https://www.help-hand.co" data-width="700" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>




			
	
</div>
</div>