<div class="jumbotron">
<h1>HelpHand</h1>

<h4> Segue abaixo uma introdução do novo universo que pretendemos criar a partir do conceito do HelpHand! E logo em seguida criamos uma sessão de perguntas e respostas para explicar melhor o que será esse serviço e como ele vai funcionar!</h4>


<div id="wideo-embed-block" 
	wideo-width="540" 
	wideo-height="310"
	wideo-id="2351231399159802156">
</div>
<script type="text/javascript">(function(){var x=document.createElement('script'), s=document.getElementsByTagName('script')[0];x.async=true;x.src='http://static.wideo.co/js/embed/wideoembed.js';s.parentNode.insertBefore(x,s)})();</script>

<h2> F.A.Q: </h2>

<h3> Como será o mecanismo para um usuário pedir uma 'mãozinha'?</h3>
<p> No momento em que o usuário sentir uma necessidade, basta ele entrar no site, acessar sua conta no HelpHand e descrever o que precisa! Simples, não?</p>
<br>
<h3> A partir do momento que este usuário pediu ajuda, quem poderá ver sua necessidade e eventualmente ajudá-lo?</h3>
<p> Ao se cadastrar o usuário poderá escolher quem é sua comunidade, esta poderá ser seu bairro inteiro, seu prédio, seu condomínio ou até mesmo uma comunidade personalizada, apenas com pessoas selecionadas pelo usuário!</p>
<br>
<h3> Um usuário pediu uma 'mãozinha', apareceu pra mim, e eu decidi ajudá-lo, o que irá se proceder?</h3>
<p> Haverá um botão em cada pedido de ajuda chamado 'give a hand', a partir do momento que você aperta esse botão, será aberto um chat entre você e o usuário para vocês combinarem como essa 'mãozinha' será dada. Por exemplo: você está com fome e escreve isso, seu vizinho recebeu visitas e exagerou na comida, tudo iria pro lixo! Ele pode ver seu pedido, clicar no botão mencionado, e vocês combinariam como pegar a comida!</p>
<br>
<h3>Haverá algum ganho para os usuários mais participativos do site, ou seja, aqueles que ajudam mais?</h3>
<p>Com certeza! Além do sentimento de estar fazendo algo legal estamos preparando um sistema de pontos muito bacana para o site, de início pretendemos fazer com que os pedidos de pessoas que ajudam mais sejam priorizados, e posteriormente, com o aumento do número de usúarios, pretendemos criar um sistema de pontos semelhante ao de milhar aéreas e outros sistemas, em que você pode trocar os pontos por produtos e serviços!</p>

			<a href="#" target="_blank">
				<img src="/images/twitter.png" alt="Twitter">
			</a>
			
			<a href="#" target="_blank">
				<img src="/images/facebook.png" alt="Facebook">
			</a>
<h5>OBS: LINKS FACEBOOK E TWITTER FORA DO AR</h5>
</div>