

<div class="container">
<div class="jumbotron">

<h1><b>HelpHand</b></h1>

<h4> Instagram, facebook, twitter, youtube... Atualmente são quatro das maiores redes sociais do mundo, mas houveram dias em que esses nomes não significavam absolutamente nada! Afinal, todo projeto tem que começar de um jeito, certo? E é aqui que o nosso projeto começa! Um projeto feito com o fim de facilitar a vida de todos nós! Confira o vídeo abaixo para saber de que maneira estamos começando a escrever a nossa história! </h4>

<br> <br> <br>

<iframe width="560" height="315" src="//www.youtube.com/embed/JDGxWv7WSKM" frameborder="0" allowfullscreen></iframe>

<br> <br> <br>
<h4> Gostou da idéia? Leia nossa seção de <%= link_to "perguntas e respostas", faq_path %> para saber mais sobre nosso projeto! 
<br> <br> <br>
	Estamos trabalhando duro para conseguir tornar tudo que você viu em realidade, ajude-nos curtindo nossa <a href="https://www.facebook.com/helphandcompany?ref=hl">página no facebook</a>! Manteremos vocês atualizados sobre o andamento do projeto por lá!</h4>
	<br> <br> <br>

	<a href="https://www.facebook.com/helphandcompany?ref=hl" target="_blank">
				<img src="/images/facebookpage.png" alt="facebookl logo">
			</a>

			
	
</div>
</div>